@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
}

.container {
    background-color: #F7F7F7;
    height: 140px;
    display: flex;
    align-items: center;
}

.container__img {
    padding: 10%;
    flex: 10%;
    display: flex;
    align-items: center;
}


.container__img img {
    width: 12%;
}

.container__menu {
    margin-left: 4%;

}

.container__menu a {
    color: rgb(56, 56, 56);
    text-decoration: none;
    padding: 12px;
}

.container__btns {
    padding: 12%;
}

.container__btns a {
    color: #EA1D2C;
    text-decoration: none;
    padding: 10px;
}

#container__btn__principal {
    background-color: #EA1D2C;
    color: #fff;
    border-radius: 5px;
    padding: 11px 25px;
    margin-left: 15px;
    border: none;
}

.bloco {
    color: #3E3E3E;
    display: flex;
    align-items: center;
    margin: auto;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 9%;
}

.bloco__textos {
    text-align: center;
    margin-bottom: 50px;
}

.bloco__titulo {
    font-size: 47px;
}

.bloco__paragrafo {
    font-size: 17px;
    color: rgb(93, 93, 93);
}

.bloco__nevegacao {
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.bloco__input {
    background-color: #F2F2F2;
    height: 50px;
    width: 300px;
    border: none;
    font-size: 15px;
    text-indent: 15px;
    border-radius: 10px;
}

.fa-sistrix {
    font-size: 20px;
    color: #EA1D2C;
    margin-left: 5%;
    cursor: pointer;
}

input:focus-visible {
    outline: none;
}
