* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(104, 104, 152);
    color: white;
    text-align: center;
    margin-top: 40px;
}

h1 {
    padding: 15px;
}

.teste {
    padding: 10px;
}
