* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(104, 104, 152);
    color: white;
    text-align: center;
    margin-top: 40px;
}

h1 {
    padding: 15px;
}

.teste {
    padding: 10px;
}

.btn1 {
    background-color: rgb(39, 220, 39);
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 17px;
}


.btn1:active {
    background-color: rgb(33, 179, 33);
    padding: 6px;

}

input {
    height: 25px;

    border-radius: 5px;
    border: none;
    text-indent: 4px;
    font-size: 20px;

}
